<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">INAPI</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quittances<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Depot Marque</a></li>
          <li><a href="#">Recherche Similitude</a></li>
          <li><a href="#">Recherche a l'identique</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Depot Dessins & Modèles</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Correction erreur Materiel</a></li>
        </ul>
      </li>
    </ul>
    <%= render 'partials/navstatus' %>
  </div>
</nav>
