<div class="jumbotron">
  <h1>Bienvenu!</h1>
  <p>Bienvenu dans le systeme de management de la propriete industrielle de l'INAPI</p>
  <p>Pour plus d'informations, veuillez consulter notre page d'information</p>
  <p><a class="btn btn-info pull-right" href="/home/info" role="button">Plus d'info...</a></p>
</div>
