<% cache do %>
<div class="jumbotron">
  <h1>Bienvenu!</h1>
  <p>Bienvenu dans le systeme de management de la propriete industrielle de l'INAPI</p>
  <p>Pour plus d'informations, veuillez consulter notre page d'information</p>
  <a type="button" class="btn btn-info" href="/home/info">Plus d'info...</a>
</div>
<% end %>
