<% cache do %>
<div class="jumbotron">
  <h1>Info!</h1>
  <p>Aucune information a vous fournir pour l'instant</p>
  <p><a class="btn btn-primary" href="/" role="button">Retour page d'accueil</a></p>
</div>
<% end %>
