<div class="modal fade order-modal" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">new payement order</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => "orders/order_fields"%>
      </div>
    </div>
  </div>
</div>
