<div class="panel panel-info" id="payement">
  <div class="panel-heading">Payement
    <button type="button" class="close" data-target="#payement" data-dismiss="alert">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
  </div>
  <div class="panel-body nested-fields">
    <%= f.input :image, as: :file %>
</div>
</div>
