<div class="panel panel-info">
  <div class="panel-heading"><%= I18n.t('menu.receipt.edit') %></div>
  <div class="panel-body">
  <%= render 'form', receipt: @receipt, receipt_new:"old" %>
  </div>
</div>
