<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title"><%= I18n.t('menu.receipt.new') %></h1>
  </div>
  <div class="panel-body">
    <%= render 'form', receipt: @receipt, receipt_new:"new" %>
  </div>
</div>

<%= render :partial => "orders/order_modal" %>
