<div class="panel panel-info">
  <div class="panel-heading">New Receipt</div>
  <div class="panel-body">

<%= render 'form', receipt: @receipt %>

 <!-- <%= link_to 'Back', receipts_path %> -->
</div>
</div>
